body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Give styling to navbar and links inside it below */
.navbar{
    background-color:#333;
    padding:10px;
}

a{
    margin:0px 15px;
    color:white;
    text-decoration: none;
    font-weight:bold;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
}

.contact-form {
  background-color: #3498db;
  color: white;
  padding: 20px;
}

label {
  color: white;
  font-size: 16px;
  margin-top: 10px;
  display: block;
}

input,
textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #3498db;
  border-radius: 5px;
}

button {
  background-color: #1324e4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 20%;
  cursor:pointer;
}

.contact-info {
  background-color: #333;
  color: white;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000002643_1709059251_arrow-right.png");
  padding: 0px;
}

li {
  background-color: #555;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* Give styling to "Go Back to Home" hyperlink below */
#back{
    background-color:#333;
    outline:5px solid rgb(0, 0, 0);
    color:white;
    text-decoration: none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}